@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  background: #F6F3F3;
  @apply text-default;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.inter {
  font-family: var(--font-inter);
}

.poppins{
  font-family: var(--font-poppins);
}